<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<style>
    body{
        background-color: rgb(125, 31, 248);
    }
    .main{
        justify-content: center;
        text-align: center;
        width: 250px;
        margin-inline: auto;
        height: 100vh;
        color: white;
        margin-top: 30px;
       
    }
    .btn{
        margin-top: 20px;
    }
</style>
<body>
    <div class="main">
  <h1>Report Complaint</h1>
  <form action="/complaint" method="post">
    <label for="username" class="form-label">Title</label>
        <input type="text" id="username" class="form-control" name="title">
      <label for="elaboration" class="form-label">Elaborate</label>
        <input type="text" class="form-control" name="elaboration" id="elaboration">

  <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
  </div>
</body>
</html>
